body {
    padding-top: 150px;
    background-image: url("{{ url_for('static', filename='images/3d-rendering-planet-earth.jpg') }} ");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}



/* Lo que estaba en la pagina add*/
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("{{ url_for('static', filename='images/3d-rendering-planet-earth.jpg') }} ");
    /*background-image: url('static/planeta.jpg');*/
    background-size: cover;
    /* Para que la imagen cubra toda la pantalla */
    background-position: center;
    /* Centrar la imagen */
    background-repeat: no-repeat;
    /* Evitar que la imagen se repita */
}

.transparent-box {
    margin-top: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: flex-start;
    /* Alinea los elementos al principio verticalmente */
    background-color: rgba(255, 255, 255, 0.90);
    /* Fondo blanco con .90 de transparencia */
    padding: 20px;
    /* Espaciado interior */
    border-radius: 10px;
    /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra */
    min-height: 70vh;
    /* Altura mínima igual al 100% de la altura de la ventana */
    margin: 50px 400px;
    /* Márgenes arriba y abajo de 20px, y cero en los lados izquierdo y derecho */
}
.centered-container {
    display: flex;
    flex-direction: column; /* Alinea los divs en columna */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    gap: 20px; /* Espacio entre los formularios, ajustable según tu preferencia */
}

.form-dark {
    background-color: #333; /* Fondo oscuro para el formulario */
    color: #fff; /* Texto blanco para contraste */
    padding: 20px; /* Espacio interno del formulario */
    border-radius: 8px; /* Bordes redondeados */
    width: 500px; /* Ancho fijo para los formularios, ajustable según tu preferencia */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form-dark .input-group-text {
    background-color: #444; /* Fondo oscuro para los labels */
    color: #fff; /* Texto blanco para los labels */
}

.form-dark .form-control {
    background-color: #222; /* Fondo de los inputs */
    color: #fff; /* Texto blanco en los inputs */
    border: none; /* Borde de los inputs */
}

/*-----------------------------------------*/






/*--------------------------------------------------------------------------------*/

.form-dark .form-control::placeholder {
    color: #ccc;
    /* Color blanco para el texto del placeholder */
    opacity: 1;
    /* Asegura que la opacidad sea completa */
}
.form-dark .btn-primary {
    background-color: white;
    /* Color del botón */
    border: none;
    color: black;
    /* Sin borde */
}

.form-dark .btn-primary:hover {
    background-color: #000000;
    /* Color del botón al pasar el ratón */
}
